@import "tailwindcss";


body {
  color: var(--foreground);
  background: #1D1616;
  font-family: Arial, Helvetica, sans-serif;
}

.ateoric{
  font-family: var(--font-ateoric);
  font-weight:bold;
}

.manrope{
  font-family: var(--font-manrope);
}